#english {
  background-color: #F24C4E !important;
  height: 50px !important;
  font-size: 30px !important;
  margin-left: 0% !important;
}

#chinese {
  background-color: #E4B126 !important;
  height: 50px !important;
  font-size: 30px !important;
  margin-top: 10px !important;
  margin-left: 0% !important;
}

#malay {
  background-color: #1FB58F !important;
  height: 50px !important;
  font-size: 30px !important;
  margin-top: 10px !important;
  margin-left: 0% !important;
}

#tamil {
  background-color: #1B7B34 !important;
  height: 50px !important;
  font-size: 30px !important;
  margin-top: 10px !important;
  margin: 0% !important;
}

#container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 5%);
  -ms-transform: translate(-50%, 50%);
  width: 80%;
}

#CovidButton, #CovidNewsButton, #LLLButton, #covidbuttonChi, #EnglishHomeButton, #ChineseHomeButton, #covidbuttonChi, #CovidNewsButtonChinese {
  background-color: #1B7B34;
  margin-left: 5%;
}


.toolbar {
  background-color: #56d8b4;
}

.toolbar-button {
   color: #ffffff;
}

table, th, td {
  border: 1px solid black;
}

p,li,a {
  margin: 5%;
  font-size: 23px;
}

.button {
  margin: 5%;
  font-size: 20px;
}

#submitbuttonchinese {
  background-color: #F24C4E !important;
  height: 30px !important;
  font-size: 20px !important;
  margin-left: 0% !important;
}

#submitbutton {
  background-color: #F24C4E !important;
  height: 30px !important;
  font-size: 20px !important;
  margin-left: 0% !important;
}
