#english {
  background-color: #F24C4E;
  margin-left: 5%;
}

#chinese {
  background-color: #E4B126;
  margin-left: 5%;
}

#malay {
  background-color: #1FB58F;
  margin-left: 5%;
}

#tamil {
  background-color: #1B7B34;
  margin-left: 5%;
}
